/.vscode
/geckodriver.log
/__pycache__
rs19_val/
railway_dataset/
wandb/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
models/
# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.vscode

*.xlsx
*.ini
jobData/xresnet50.pkl
jobData/chuck_norris.pkl

note.py
graph_wandb copy.py
graph_wandb.py
video_frames_exporter.py
video_assembler.py
dataloader_Mask2Former.py
train_Mask2Former.py
YOLO_det_test.py
train_onelabel.py
image_resize.py
SD.py
statistics_base.py
stats_datasetv2.py
json_tests.py
graphs.py
data_exporter.py
