/.vscode
/geckodriver.log
/__pycache__
rs19_val/
railway_dataset/
wandb/
.env
.venv
env/
venv/
other/
ENV/
assets/models/ultralyticsplus/yolov8s.pt
env.bak/
venv.bak/
models/
# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.vscode